# Core
fastapi
uvicorn[standard]
python-dotenv

# Database
sqlalchemy
alembic
psycopg2-binary

# Auth
python-jose[cryptography]
passlib
bcrypt
python-multipart

# Validation
pydantic
pydantic-settings
email-validator

# Utils
httpx
python-slugify

# Dev
pytest
pytest-asyncio
